body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: rgb(226, 226, 226);
}

.container-information {
  height: 70vh;
  width: 20vw;
  background-color: white;
  box-shadow: 0px 3px 17px 5px rgba(0, 0, 0, 0.34);
}

.cointainer-logo {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-background {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  /* box-shadow: 0px 3px 17px 5px rgba(0, 0, 0, 0.34); */
}

.logo-background > p {
  font-size: 6rem;
  padding-bottom: 2rem;
}
.logo-background > span {
  position: absolute;
  bottom: 2rem;
}

.textanimation {
  animation: textanimation 10s ease-out infinite;
}
@keyframes textanimation {
  0% {
    color: white;
  }
  25% {
    color: orange;
  }
  75% {
    color: green;
  }
  100% {
    color: white;
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form label {
  padding-bottom: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.container-form input {
  margin-bottom: 1rem;
  width: 10rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.container-form button {
  border: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 0.5rem;
  display: inline;
  font-weight: bold;
}

.container-form a {
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.container-form button:hover {
  background-color: rgb(134, 134, 134);
}

.container-form a:hover {
  color: rgb(134, 134, 134);
}

@media (max-width: 680px) {
  .container-information {
    width: 80vw;
  }
}

@media (min-device-width: 690px) and (max-width: 1280px) {
  .container-information {
    width: 50vw;
  }
}
