.HelpContainer{
  width: 70%;
  margin: auto;
  background-color: #4B4168;
  color: white;
  font-family: 'Source Sans Pro', monospace;
  padding: 20px;
}

.divImg{
  width: 100%;
  margin: auto;
  text-align: center;
}

.linkToLobby {
  color: white;
  text-decoration: underline;
}
