@import "../../index.scss";

button {
  border: none;
  color: $white-100;
  background-color: $black-100;
  padding: 0.5rem;
  width: auto;
  border-radius: 0.5rem;
  display: inline;
  font-weight: bold;
  margin-bottom: 0.5rem;
  &:hover {
    background-color: $hover-button;
  }
}
