@mixin keybase {
  background-color: #333;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin: 0 auto 20px auto;
  gap: 2.2px;
}
.key {
  @include keybase;
  width: 26.25px;
  height: 45px;
}
.emptyKey {
  width: 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterKey {
  @include keybase;
  width: 40px;
  height: 45px;
  font-size: 35px;
}

.deleteKey {
  @include keybase;
  width: 40px;
  height: 45px;
}

.correct {
  background-color: #4caf50;
  border: #4caf50 solid 2px;
  color: black;
}

.present {
  background-color: #e5f321;
  border: #e5f321 solid 2px;
  color: black;
}

.absent {
  background-color: #aaa;
  border: #aaa solid 2px;
  color: black;
}
