.playersProfileContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.players{
  width: 150px;
  display: block;
  img{
    width: 150px;
    object-fit: contain;
  }
  h2{
    color: white;
    text-align: center;
  }
}
