*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COLORS

$white-80: rgb(226, 226, 226);
$white-100: rgb(255, 255, 255);
$black-100: rgb(0, 0, 0);
$gray-80: rgb(134, 134, 134);
$orange: rgb(255, 165, 0);
$green: rgb(0, 128, 0);

// BACKGROUND COLORS

$main-background-color: $white-80;
$form-color: $white-100;
$button-color: $black-100;
$hover-button: $gray-80;

// FONTS

$primary-font: "Poppins", sans-serif;

// FONT WEIGHT

$bold: bold;
$medium: 500;
$normal: 400;
$light: 200;

a{ color: $black-100;
    text-transform: capitalize;
    text-decoration: none;
  }
